:root {
  --text: oklch(35% 0.01 200);
  --text-transparent: oklch(35% 0.01 200 / 0.5);
  --text-h: oklch(25% 0.03 200);
  --bg: oklch(95% 0.01 240);
  --bg-solid: oklch(90% 0.02 160);
  --bg-transparent: oklch(90% 0.02 160 / 0.5);
  --border: oklch(85% 0.02 130);
  --accent: oklch(35% 0.4 160);
  --accent-bg: oklch(90% 0.06 160);
  --accent-bg-solid: oklch(80% 0.06 140);
  --accent-border: oklch(75% 0.09 160);

  --shadow:
    oklch(0% 0 0 / 0.15) 0 10px 15px -3px, oklch(0% 0 0 / 0.1) 0 4px 6px -2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: oklch(80% 0.01 200);
    --text-transparent: oklch(80% 0.01 200 / 0.5);
    --text-h: oklch(85% 0.02 200);
    --bg: oklch(18% 0.01 240);
    --bg-solid: oklch(12% 0.06 160);
    --bg-transparent: oklch(12% 0.06 160 / 0.5);
    --border: oklch(25% 0.02 130);
    --accent: oklch(85% 0.12 160);
    --accent-bg: oklch(20% 0.06 160);
    --accent-bg-solid: oklch(30% 0.06 140);
    --accent-border: oklch(35% 0.09 160);

    --shadow:
      oklch(0% 0 0 / 0.4) 0 10px 15px -3px, oklch(0% 0 0 / 0.25) 0 4px 6px -2px;
  }
}

:root {
  --card-south: oklch(65% 0.16 310);
  --card-north: oklch(72% 0.22 80);
  --card-front: oklch(40% 0.01 180);
  --card-text: oklch(95% 0.02 20);
  --card-back: oklch(15% 0.05 200);
  --card-outline: oklch(50% 0.01 160);
  --card-border: oklch(10% 0.02 160);
  --card-back-symbol: oklch(55% 0.05 140);

  color-scheme: light dark;

  --card-shadow:
    oklch(0% 0 0 / 0.3) 0 6px 16px 0, oklch(0% 0 0 / 0.5) 0 4px 8px 0;

  /* South 100-5x, North 100-4x */
  --south-accent: oklch(65% 0.16 310);
  --north-accent: oklch(72% 0.22 80);
  --south-text: oklch(40% 0.16 310);
  --north-text: oklch(48% 0.22 80);
  --south-outline-accent: oklch(50% 0.16 310);
  --north-outline-accent: oklch(60% 0.22 80);
  --south-outline: oklch(65% 0.16 310);
  --north-outline: oklch(72% 0.22 80);
  --south-bg: oklch(90% 0.05 310);
  --north-bg: oklch(92% 0.07 80);
}
@media (prefers-color-scheme: dark) {
  :root {
    --south-accent: oklch(55% 0.16 310);
    --north-accent: oklch(48% 0.22 80);
    --south-text: oklch(75% 0.16 310);
    --north-text: oklch(66% 0.22 80);
    --south-outline-accent: oklch(70% 0.16 310);
    --north-outline-accent: oklch(60% 0.22 80);
    --south-outline: oklch(55% 0.16 310);
    --north-outline: oklch(48% 0.22 80);
    --south-bg: oklch(30% 0.05 310);
    --north-bg: oklch(28% 0.07 80);
  }
}

:root {
  --animation-smooth: 300ms ease-out;
  --animation-fast: 150ms ease-out;
  --animation-fast-linear: 150ms linear;

  --z-index-hand: 10;
  --z-index-playarea-overlay: 20;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  display: flex;
  text-align: center;
  justify-content: center;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.wartoad-app {
  width: min(100svw, 150svh);

  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid var(--border);

  font-size: 1.5svh;
  line-height: 1.5svh;
  h1 {
    font-size: 3svh;
    line-height: 3svh;
    margin: 1svh 0;
  }
  h3 {
    font-size: 2svh;
    line-height: 2svh;
    margin: 1svh 0;
  }
}

header {
  height: 6svh;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--bg);
  background-image: linear-gradient(
    to right,
    var(--accent-bg),
    rgba(0, 0, 0, 0)
  );
}

button {
  font-size: 1.5svh;
  border-radius: 0.5svh;
  border: 1px solid var(--border);
  outline-offset: 1px;
}
button:enabled {
  cursor: pointer;
  &:hover {
    outline: 1px solid var(--accent-border);
  }
  &:focus {
    outline: 2px solid var(--accent);
  }
  &.north {
    &:hover {
      outline: 1px solid var(--north-outline-accent);
    }
    &:focus {
      outline: 2px solid var(--north-accent);
    }
  }
  &.south {
    &:hover {
      outline: 1px solid var(--south-outline-accent);
    }
    &:focus {
      outline: 2px solid var(--south-accent);
    }
  }
}

div.highlighting-card {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.5svh;

  &:hover,
  &:focus {
    outline: 1px solid;
    outline-offset: 2px;
  }
  &:focus {
    outline-width: 2px;
    outline-style: solid;
  }
  &.north {
    outline-color: var(--north-outline);
  }
  &.south {
    outline-color: var(--south-outline);
  }

  &.pickable-card {
    cursor: grab;
    &:hover {
      filter: brightness(120%);
    }
    &.north {
      outline-color: var(--north-outline-accent);
    }
    &.south {
      outline-color: var(--south-outline-accent);
    }
  }
}

button.icon-text {
  display: inline-flex;
  align-items: center;
  gap: 0.5svh;
  height: 4svh;
  min-width: 4svh;
  svg {
    width: 3svh;
    height: 3svh;
  }
}

button.accent:enabled {
  background: var(--accent-bg);
  &:enabled:hover {
    background: var(--accent-bg-solid);
  }
}

main {
  text-align: start;
  display: flex;
  flex-grow: 1;

  background: var(--bg);
}

.handarea {
  padding: 2svh;

  background: var(--bg-solid);

  width: fit-content;
  width: calc-size(fit-content);
  min-width: 20svw;
  max-width: calc(100svw - 60svh);
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1svh;
}
@media (max-aspect-ratio: 1.2) {
  .handarea {
    min-width: 24svh;
  }
}

.scroll-x {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.playarea {
  min-width: fit-content;
  margin: 0 1svh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 100%;
  padding: 0 36px;
  align-content: center;

  h1 {
    text-align: left;
  }
}

span.accent {
  color: var(--accent);
}
h3.north,
span.north {
  color: var(--north-text);
}
h3.south,
span.south {
  color: var(--south-text);
}

.phases {
  height: 100%;

  justify-content: end;
  display: flex;
  align-items: center;
  gap: 9px;

  padding: 0 36px;
}

.hand {
  height: calc(19svh);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5svh;
}

.card-display {
  height: calc(27svh);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.zoom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1svh 4svh;

  .zooming {
    transition:
      zoom var(--animation-fast-linear),
      translate var(--animation-fast-linear);
    zoom: 150%;
    translate: 0% -3%;

    &:hover,
    &:focus {
      zoom: 200%;
      translate: 0% -35%;
    }

    outline-offset: 1px;
    border-radius: 0.5svh;

    outline: 1px solid var(--border);
    &.north {
      outline-color: var(--north-outline);
    }
    &.south {
      outline-color: var(--south-outline);
    }
    &:hover {
      outline-color: var(--outline-accent);
      &.north {
        outline-color: var(--north-outline-accent);
      }
      &.south {
        outline-color: var(--south-outline-accent);
      }
    }
    &:focus {
      outline-color: var(--accent);
      &.south {
        outline-color: var(--south-accent);
      }
      &.north {
        outline-color: var(--north-accent);
      }
    }
  }
}

.splay-row {
  display: flex;
  flex-direction: row;

  transition:
    margin var(--animation-smooth),
    width var(--animation-smooth);
  .stacking {
    transition: margin var(--animation-smooth);
    z-index: var(--z-index-hand);
  }

  margin-left: 2svh;
  .stacking {
    margin-left: -2svh;
  }
  &.compact {
    margin-left: 5svh;
    .stacking {
      margin-left: -5svh;
    }
  }
  &.super-compact {
    margin-left: 6svh;
    .stacking {
      margin-left: -6svh;
    }
  }
  @media (max-aspect-ratio: 1.2) {
    margin-left: 6.5svh;
    .stacking {
      margin-left: -6.5svh;
    }
    &.compact {
      margin-left: 7.2svh;
      .stacking {
        margin-left: -7.2svh;
      }
    }
    &.super-compact {
      margin-left: 7.7svh;
      .stacking {
        margin-left: -7.7svh;
      }
    }
  }
  &:hover {
    margin-left: 2svh;
    .stacking {
      margin-left: -2svh;
    }
  }
  &.compact:hover {
    margin-left: 1svh;
    .stacking {
      margin-left: -2svh;
    }
  }
  &.super-compact:hover {
    margin-left: 3.5svh;
    .stacking {
      margin-left: -4.5svh;
    }
  }
}

.jiggle-row {
  display: flex;
  flex-direction: row;

  transition:
    margin-left var(--animation-smooth),
    width var(--animation-smooth);

  .stacking {
    transition:
      padding var(--animation-smooth),
      margin var(--animation-smooth);
    z-index: var(--z-index-hand);
  }

  width: calc(0svh + 6svh * var(--hand-size));
  &:hover,
  &:focus-within {
    width: calc(2.5svh + 6svh * var(--hand-size));
  }
  margin-left: 2svh;
  .stacking {
    margin-left: -2svh;
  }
  &.compact {
    width: calc(0svh + 3svh * var(--hand-size));
    &:hover,
    &:focus-within {
      width: calc(4svh + 6svh * var(--hand-size));
    }
    margin-left: 5svh;
    .stacking {
      margin-left: -5svh;
    }
  }
  &.super-compact {
    width: calc(0svh + 2svh * var(--hand-size));
    &:hover,
    &:focus-within {
      width: calc(13svh + 3svh * var(--hand-size));
    }
    margin-left: 6svh;
    .stacking {
      margin-left: -6svh;
    }
  }

  @media (max-aspect-ratio: 1.2) {
    width: calc(-4svh + 2svh * var(--hand-size));
    &:hover,
    &:focus-within {
      width: calc(4.5svh + 6svh * var(--hand-size));
    }
    margin-left: 6.5svh;
    .stacking {
      margin-left: -6.5svh;
    }
    &.compact {
      width: calc(1svh * var(--hand-size));
      &:hover,
      &:focus-within {
        width: calc(4svh + 6svh * var(--hand-size));
      }
      margin-left: 7.2svh;
      .stacking {
        margin-left: -7.2svh;
      }
    }
    &.super-compact {
      width: calc(-0.5svh * var(--hand-size));
      &:hover,
      &:focus-within {
        width: calc(14svh + 3svh * var(--hand-size));
      }
      margin-left: 7.7svh;
      .stacking {
        margin-left: -7.7svh;
      }
    }
  }

  &:hover,
  &:focus-within {
    .stacking {
      padding: 4svh 0svh 0svh;
      margin-top: -1svh;

      &.jiggling:hover,
      &.jiggling:focus-within {
        padding: 0svh 1svh 4svh;
      }
      &:first-child:nth-last-child(1) {
        padding-bottom: 1svh;
        margin-left: 0svh;
        margin-right: 0svh;
      }
    }
  }

  &:hover,
  &:focus-within {
    margin-left: -1svh;
    .stacking {
      margin-left: -2svh;
      &:first-child:nth-last-child(1) {
        margin-left: 1svh;
      }
      &.jiggling:hover,
      &.jiggling:focus-within {
        margin-left: 0;

        margin-right: 2svh;
        &:first-child:nth-last-child(1) {
          margin-right: 0svh;
        }
      }
    }
  }
  &.compact:hover,
  &.compact:focus-within {
    margin-left: -2svh;
    .stacking {
      margin-left: -2svh;
      &.jiggling:hover,
      &.jiggling:focus-within {
        margin-right: 2svh;
      }
    }
  }
  &.super-compact:hover,
  &.super-compact:focus-within {
    margin-left: -1.5svh;
    .stacking {
      margin-left: -4.5svh;
      &.jiggling:hover,
      &.jiggling:focus-within {
        margin-right: 4.5svh;
      }
    }
  }
}

.zonegrid {
  width: fit-content;
}

.zonerow {
  box-sizing: border-box;
  height: 15svh;
  width: fit-content;

  display: flex;
  gap: 3svh;
  align-items: center;
}

.zone {
  box-sizing: border-box;
  height: 14svh;
  width: 20svh;

  padding: 0.5svh;
  border-radius: 0.5svh;

  &.south {
    border: 1px solid var(--south-outline);
    background: var(--south-bg);
    &:hover {
      outline: 1px solid var(--south-outline);
    }
  }
  &.north {
    border: 1px solid var(--north-outline);
    background: var(--north-bg);
    &:hover {
      outline: 1px solid var(--north-outline);
    }
  }
}

.placeable-zone {
  position: relative;
  border: none;

  cursor: pointer;

  .overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--bg-transparent);
    opacity: 50%;
    border-radius: calc(1px + 0.5svh);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: var(--z-index-playarea-overlay);

    > svg {
      color: var(--text-h);
      height: 12svh;
      width: 12svh;
    }
  }

  &:focus,
  &:hover {
    outline-style: solid;
    .overlay-container {
      opacity: 80%;
    }
  }
  &:hover {
    filter: brightness(120%);
  }
  &.south {
    outline-color: var(--south-outline-accent);
    &:hover {
      outline-width: 1px;
    }
    &:focus {
      outline-width: 2px;
    }
  }
  &.north {
    outline-color: var(--north-outline-accent);
    &:hover {
      outline-width: 1px;
    }
    &:focus {
      outline-width: 2px;
    }
  }
}

.card {
  text-align: center;

  box-sizing: border-box;
  height: 11svh;
  width: 8svh;
  /* Real world cards are 63mmx88mm */
  /* aspect-ratio: 64 / 88;  */
  border-radius: 0.4svh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: var(--card-shadow);
  background: var(--card-front);
  color: var(--card-text);
  border: 1px solid var(--card-border);
  outline: 1px solid var(--card-outline);
  font-size: 1.2svh;
  line-height: 1.8svh;

  transition: scale var(--animation-fast);
  transition: translate var(--animation-fast);
  scale: 1 1;
  translate: 0;
  @starting-style {
    scale: 0 1;
    translate: -50svw;
  }

  small {
    font-size: 0.7svh;
    line-height: 0.9svh;
    display: block;
  }

  .card-title {
    height: 2svh;
    flex-grow: 0;
    text-align: center;
    padding: 0.1svh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .card-section-split {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .card-section-fill,
  .card-section-column,
  .card-section-row {
    display: flex;
    gap: 0.15svh;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box;
    margin: 0.15svh;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }

    div.card-item {
      padding: 0.5svh;
    }
  }

  .card-section-row {
    display: flex;
    flex-direction: row;
    height: 4svh;

    div {
      flex-direction: column;
      flex-grow: 1;
      height: 3.7svh;
    }
  }

  .card-section-column {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: fit-content;

    div.card-item {
      padding: 0.2svh;
    }
    div {
      flex-direction: row;
      justify-content: space-evenly;
      flex-grow: 1;
      width: 3svh;
      height: 2svh;

      svg {
        height: 1.4svh;
        width: 1.4svh;
        flex-shrink: 0;
      }

      span {
        font-size: 1.2svh;
        line-height: 1.2svh;
        text-align: center;
      }
    }
  }

  .card-section-fill {
    flex-grow: 1;

    div {
      flex-direction: column;
    }
  }

  .card-item {
    border: 1px solid var(--card-border);
    border-radius: 2px;
    outline: 1px solid var(--card-outline);
    padding: 0.2svh;
  }

  &.south {
    outline: 1px solid var(--south-outline);
    svg {
      color: var(--card-south);
      height: 3svh;
      width: 3svh;
      transform: scaleY(-1);
    }
    &:hover {
      outline: 2px solid var(--south-outline);
    }
  }
  &.north {
    outline: 1px solid var(--north-outline);
    svg {
      color: var(--card-north);
      height: 3svh;
      width: 3svh;
    }
    &:hover {
      outline: 2px solid var(--north-outline);
    }
  }

  &:hover {
    filter: brightness(110%);
  }

  &.facedown {
    background: var(--card-back);
    border: none;
    align-items: center;
    justify-content: center;

    svg {
      color: var(--card-back-symbol);
      height: 3svh;
      width: 3svh;
    }
  }
}
