:root {
  --player-accent: hsl(240, 80%, 65%);
  --opponent-accent: hsl(0, 80%, 65%);

  --card-shadow:
    rgba(0, 0, 0, 0.2) 0 10px 15px 0, rgba(0, 0, 0, 0.1) 0 4px 6px 0;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --player-accent: hsl(240, 80%, 45%);
    --opponent-accent: hsl(0, 80%, 45%);

    --card-shadow:
      rgba(0, 0, 0, 0.5) 0 10px 15px 0, rgba(0, 0, 0, 0.3) 0 4px 6px 0;
  }
}

header {
  height: 90px;
  max-width: 100%;
  width: 1124px;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--bg);
  background-image: linear-gradient(
    to right,
    var(--accent-bg),
    rgba(0, 0, 0, 0)
  );

  @media (max-width: 1024px) {
    height: 72px;
  }
}

.title {
  height: 100%;
  padding: 0 36px;
  align-content: center;

  h1 {
    text-align: left;
  }

  @media (max-width: 1024px) {
    padding: 0 24px;
  }
}

span.accent {
  color: var(--accent);
}

.phases {
  width: 300px;
  height: 100%;

  justify-content: end;
  display: flex;
  align-items: center;

  padding: 0 36px;

  @media (max-width: 1024px) {
    padding: 0 24px;
  }

  gap: 9px;
}

main {
  margin-top: 90px;

  @media (max-width: 1024px) {
    margin-top: 72px;
  }
}

.playarea {
  height: 83vh;
  margin: 2vh 0 1vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
}

.zonerow {
  display: flex;
  gap: 4vh;
  height: 13vh;
  align-items: center;
}

.zone {
  height: 13vh;
}

.card {
  height: 11vh;
  aspect-ratio: 63 / 88;

  border-radius: 0.4vh;
  box-shadow: var(--card-shadow);

  &:hover {
    filter: brightness(150%);
  }

  &.player {
    border: 3px solid var(--player-accent);
  }

  &.opponent {
    border: 3px solid var(--opponent-accent);
  }

  &.facedown {
    background: var(--accent-bg-solid);
  }
}
