:root {
  --south-accent: hsl(240, 85%, 50%);
  --north-accent: hsl(0, 80%, 55%);
  --south: hsl(240, 65%, 50%);
  --north: hsl(0, 60%, 50%);
  --south-faint: hsla(240, 65%, 50%, 0.5);
  --north-faint: hsla(0, 60%, 60%, 0.5);
  --south-bg: hsl(240, 15%, 80%);
  --north-bg: hsl(0, 10%, 85%);

  --card-shadow:
    rgba(0, 0, 0, 0.2) 0 10px 15px 0, rgba(0, 0, 0, 0.1) 0 4px 6px 0;
  --card-south: hsl(240, 65%, 50%);
  --card-north: hsl(0, 60%, 50%);

  --card-front: #6c6964;
  --card-front-highlight: #b3aeab;
  --card-text: white;
  --card-back: #251726;
  --card-outline: #3e2f3f;
  --card-border: #5c535c;
  --card-back-symbol: #c18b2c;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --south-accent: hsl(240, 80%, 50%);
    --north-accent: hsl(0, 80%, 40%);
    --south: hsl(240, 70%, 60%);
    --north: hsl(0, 55%, 50%);
    --south-faint: hsla(240, 50%, 45%, 0.5);
    --north-faint: hsla(0, 45%, 35%, 0.5);
    --south-bg: hsl(240, 13%, 20%);
    --north-bg: hsl(0, 10%, 15%);

    --card-shadow:
      rgba(0, 0, 0, 0.5) 0 10px 15px 0, rgba(0, 0, 0, 0.3) 0 4px 6px 0;
  }
}

header {
  height: 90px;
  max-width: 100%;
  width: 1124px;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--bg);
  background-image: linear-gradient(
    to right,
    var(--accent-bg),
    rgba(0, 0, 0, 0)
  );

  @media (max-width: 1024px) {
    height: 72px;
  }
}

.title {
  height: 100%;
  padding: 0 36px;
  align-content: center;

  h1 {
    text-align: left;
  }

  @media (max-width: 1024px) {
    padding: 0 24px;
  }
}

span.accent {
  color: var(--accent);
}
h3.north,
span.north {
  color: var(--north);
}
h3.south,
span.south {
  color: var(--south);
}

.phases {
  height: 100%;

  justify-content: end;
  display: flex;
  align-items: center;
  gap: 9px;

  padding: 0 36px;

  @media (max-width: 1024px) {
    padding: 0 24px;
  }
}

main {
  text-align: start;

  margin-top: 90px;
  height: calc(100vh - 90px);

  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    margin-top: 72px;
    height: calc(100vh - 72px);
  }
}

.handarea {
  padding: 2vh;

  background: var(--bg-solid);

  min-width: max(180px, 20vh);

  width: calc(100% - 65vh);

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1vh;
}

.splay-row {
  display: flex;
  flex-direction: row;

  margin: 0vh 2vh;
  transition: margin 300ms ease;
  .stacking {
    margin: 0 -2vh;
    transition: margin 300ms ease;

    z-index: 10;
  }

  @media (max-aspect-ratio: 1) {
    margin-left: 4.3vh;
    .stacking {
      margin-left: -4.3vh;
    }

    &:hover {
      margin: 0vh 2vh;
      .stacking {
        margin: 0vh -2vh;
      }
    }
  }
}

.jiggle-row {
  display: flex;
  flex-direction: row-reverse;

  margin: 0vh 2vh;
  transition: margin 300ms ease;
  .stacking {
    margin: 0vh -2vh;
    transition:
      margin 300ms ease,
      padding 300ms ease;

    z-index: 10;
  }

  @media (max-aspect-ratio: 1) {
    margin-left: 4.3vh;
    .stacking {
      margin-left: -4.3vh;
    }
  }

  &:hover {
    margin: -3vh -3vh 0vh;
    .stacking {
      margin: 0 -2vh 0vh;
      padding: 3vh 0 0;

      &.jiggling:hover {
        margin: 0vh 0vh 0vh;
        padding: 0 3vh 3vh;
      }
    }
  }
}

.playarea {
  margin: 3vh 1vh 1vh;
  flex-grow: 1;

  overflow: scroll;
}

.zonegrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: fit-content;
}

.zonerow {
  display: flex;
  gap: 4vh;
  height: 13vh;
  align-items: center;
}

.zone {
  height: 11vh;
  width: 13vh;

  padding: 0.5vh;
  border-radius: 0.5vh;

  &.south {
    border: 3px solid var(--south);
    background: var(--south-bg);

    &:hover {
      border: 3px solid var(--south-accent);
    }
  }

  &.north {
    border: 3px solid var(--north);
    background: var(--north-bg);
    &:hover {
      border: 3px solid var(--north-accent);
    }
  }
}

.card {
  text-align: center;

  height: 11.5vh;
  aspect-ratio: 63 / 88;
  border-radius: 0.4vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: var(--card-shadow);
  background: var(--card-front);
  color: var(--card-text);
  border: 1px solid var(--border);
  font-size: 1.4vh;
  line-height: 2.1vh;

  small {
    font-size: 0.9vh;
    display: block;
  }

  .card-line {
    display: flex;
    padding: 0.2vh;
    gap: 0.2vh;
    justify-content: space-evenly;
    align-items: center;

    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--card-border);
      border-radius: 2px;
      outline: 1px solid var(--card-outline);
    }
  }

  &.south {
    outline: 1px solid var(--south-faint);
    svg {
      color: var(--card-south);
      height: 3vh;
      width: 3vh;
      transform: scaleY(-1);
    }
    &:hover {
      outline: 2px solid var(--south);
    }
  }

  &.north {
    outline: 1px solid var(--north-faint);
    svg {
      color: var(--card-north);
      height: 3vh;
      width: 3vh;
    }
    &:hover {
      outline: 2px solid var(--north);
    }
  }
  &:hover {
    filter: brightness(110%);
  }

  &.facedown {
    background: var(--card-back);
    border: 1px solid var(--border);
    align-items: center;
    justify-content: center;

    svg {
      color: var(--card-back-symbol);
      height: 3vh;
      width: 3vh;
    }
  }
}
